*{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: #fff;
    min-height: 100vh;
    /* overflow: hidden; */
}

/* Navigation Menu */

header{
    position: fixed;
    top: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    /* background: #fff; */
    /* opacity: 50; */
    /* box-shadow: 0 5px 25px rgba(0,0,0,0.05); */
    z-index: 1000;
}

.responsive-menu{
    visibility: hidden;
}

.logo {
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
.img-table{
    max-width: 100px;
}

.jumbotron{
    text-decoration: none;
    color: #000;
}

.jumbotron:hover{
    color: #000;
}


#toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    /* background: #35699b; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle:before{
    content: " ";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle:after{
    content: " ";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

/* #toggle.active{
    background:#3082b7;
} */

#navbar{
    position: relative;
    height: 60px;
    right: 60px;
    /* background: #fff; */
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}

#navbar.active{
    width: 1262px;
}

#navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: #fff;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    letter-spacing: 2px;
    white-space: normal;
    transition: 0.5s;
    /* color: #fff;
    background: #3082b7; */
}

#navbar ul li a:hover{
    color: #fff;
    /* background: #35699b; */
    background: #3082b7;
    /* transition: 0.5s; */
}

 /* section{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;  */
    /* min-height: 100vh; */
    /* color: #f5f5f5; */
    /* font-size: 18vh;
    font-weight: 700;  */
 /* }  */

/* Slider */

.slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
    margin-top: -150px;
}

.sliderImage{
    filter: brightness(50%);
}

.slider .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px at center);
}

.slider .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .imgBx .content{
    position: relative;
    text-align: center;
    max-width: 800px;
}

.slider .imgBx .content h2{
    font-size: 6em;
    line-height: 1em;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
}

.slider .imgBx .content p{
    font-size: 1.1em;
    color: #ffffff;
    font-family: 'Poppins', sans-serif !important;
}

.slider .imgBx .content a{
    position: relative;
    display: inline-block;
    background: #FFF;
    padding: 10px 30px;
    color: #111;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
    transition: 0.5s;
}
/* 
.slider .imgBx .content a:hover{
    background: #bdbdbd;
} */

.slider input[type="radio"]{
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}

.slider input[type="radio"]:checked + .imgBx {
    z-index: 10;
    clip-path: circle(1080px at center);
    transition-delay: 0.70s;
}

/* About Us Section */

.mainContainer{
    background: linear-gradient(45deg, #3082b7,#bb02ff);
    background-attachment: fixed;
}

.mainContainer2{
    background: #77b2f0;
}

.abUsBx{
    display: flex;
    justify-content: center;
}

.abUsContent{
    height: 16vh;
    width: 55em;     
    text-align: center; 
    color: #111; 
}

.abUsContent h1{
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
}

.abUsContent hr{
    border: none;
    height: 1px;
    background: #fff;
    opacity: 0.25;
    width: 24em;
    margin: auto;
    margin-bottom: 8px;
}

.abUsCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
}

.container{
    position: relative;
    width: 807px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.container .abUsCard{
    position: relative;
    /* width: 300px;
    height: 420px; */
    width: 335px;
    height: 487px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.container:hover .abUsCard{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}

.container .abUsCard:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1.1;
}


.container .abUsCard .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #111;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container .abUsCard .circle h2{
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.container .abUsCard .cardContent{
    position: absolute;
    bottom: 118px;
    page-break-after: 20px;
    text-align: center;
}

.container .abUsCard .cardContent p{
    color: #666;
}

.container .abUsCard .cardContent p{
    color: #666;
}


.container .abUsCard:nth-child(1) .circle{
    background: #3082b7;
}

.container .abUsCard:nth-child(2) .circle{
    background: #da2268;
}


.wavePath{
    width: 100%;
    margin-bottom: -7px ;
    width: 100%;
}

.wavePath2{
    background: #77b2f0;
    margin-bottom: -7px ;
    width: 100%;
}

.waveFooter{
    margin-top: -1px;
    width: 100%;
}

/* Professional Services */

.pfSvTitle{
    background: #77b2f0;
    color: #fff;
    font-size: 4em;
    display: flex;
    justify-content: center;
}

.pfServicesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #77b2f0; */
}

.pfSvSec{
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fddcc356;
    background: #77b2f0;
}

.pfSvContainer{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 37px; */
    /* margin-bottom: 37px; */
}

.pfSvContainer{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    }


.left{
    width: 60%;
    height: 600px;
    background-image: url(/storage/images/abUs.jpg);
    border-radius: 8px;
} 

.right{
    width: 56%;
    min-height: 400px;
    background-color: #80bb7e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-left: -150px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.right h1{
    font-size: 30px;
}

.right p{
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 400;
     line-height: 40px; 
     margin: 20px 0;/*top bottom | left right; */
}

.right a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    color: #111111;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
}

.right1{
    width: 60%;
    height: 600px;
    background-image: url(/storage/images/abUs.jpg);
    border-radius: 8px;
} 

.left1{
    width: 56%;
    min-height: 400px;
    background-color: #80bb7e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-left: -958px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.left1 h1{
    font-size: 30px;
}

.left1 p{
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 400;
     line-height: 40px; 
     margin: 20px 0;/*top bottom | left right; */
}

.left1 a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    color: #111111;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
}

.left-side {
    position: relative;
    right: 211px;
}

.right-side {
    position: relative;
    left: 211px;
}

/* Gallery */

.gallery{
    background: #77b2f0 ;
}

.galleryTitle{
    /* font-weight: 400; */
    color: #fff;
    font-size: 4em;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* .linea{
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block;
} */

.sectionGallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95;
    margin: auto;
    grid-gap: 10px;
    padding: 40px;
    overflow: hidden;

}

.sectionGallery > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.sectionGallery img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.sectionGallery a:hover img{
    filter: blur(2px);
    transform:rotate(10deg) scale(1.3);

}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .3s ease-in-out;
}

.light-box img{
    width: 75vw;
    max-height: 70vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background: #851919;
    color: #fff;
    height: 30px;
    width:30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Reviews Section */

.reviewsBackg{
    background: #77b2f0;
}

.reviewsBody{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.reviewsBody:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#f00, #f0f); */
    clip-path: circle(30% at right 70%);
}

.reviewsBody:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#2196f3, #f0f); */
    clip-path: circle(20% at 10% 10%);
}

.reviewsContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

.reviewsContainer .reviewCard{
    position: relative;
    width: 385px;
    height: 437px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}

.reviewsContainer .reviewCard .cardContent{
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px); */
    opacity: 0.5;
    transition: 0.5s;
}

.reviewsContainer .reviewCard:hover .cardContent{
    transform: translateY(0px);
    opacity: 1;
}

.reviewsContainer .reviewCard .cardContent h2{
    font-size: 2em;
    color: #fff;
    z-index: 1;
}

.reviewsContainer .reviewCard .cardContent h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.reviewsContainer .reviewCard .cardContent p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.reviewsTitle{
    background-color: #77b2f0;
    color: #fff;
    font-size: 4em;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Footer */

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #ede7f6;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    /* background: #111; */
    /* margin: -133px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footerContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    flex-direction: row;
    margin-top: -79px;
}

footer .footerContainer .sec{
    margin-right: 30px;
}

footer .footerContainer .sec.aboutUsFooter{
    width: 40%;
}

footer .footerContainer h2{
    /* margin-right: 30px; */
    position: relative;
    color: #111;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .footerContainer h2:before{
    /* margin-right: 30px; */
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #111;

}

footer p{
    color: rgb(44, 44, 44);
    /* font-weight: 400;
    width: 40%; */
}

.sci{
    margin-top: 20px;
    display: flex;
    margin-left: -8px;
}

.sci li{

    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 20px;
    /* background; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;

}

.sci li a:hover{
    transform: scale(1.3);
}

.sci li a .fab{
    color: #111;
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #111;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.5s;
}

.quickLinks ul li a:hover{
    /* color: #111; */
    scale: 1.2;
}


.contactFooter ul li{
    list-style: none;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contactFooter .info li{
    display: flex;
    margin-bottom: 16px;
}

.contactFooter .info .fas{
    margin-right: 2px;
}

.copyRightText{
    width: 100%;
    padding: 8px 100px;
    text-align: center;

}
/* .map{
    position: relative;
    width: 25%;
} */

.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(2){
    background: #332863;
    color: #fff;
}

.contenido-slider:nth-child(3){
    background: #611a68;
}

.contenido-slider > img{
    width: 400px;
}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
    
}

/* Media Queries */

@media (max-width: 1421px){
    .container{
        padding: 28px;
    }
    .left-side{
        position: relative;
        right: 122px;
        margin-bottom: 10px;
    }

    .right-side{
        position: relative;
        left: 122px;
    }
}

@media (max-width: 1253px){
    .container{
        padding: 28px;
    }
    .left-side{
        position: relative;
        right: 58px;
        margin-bottom: 10px;
    }

    .right-side{
        position: relative;
        left: 58px;
    }
}

@media (max-width: 1075px){
    .pfSvContainer{
        flex-direction: column;
        width: 100%;
        margin: 10px 20px;
    }

    .left{
        width: 100%;
        height: 400px;
    }

    .right{
        width: 100%;
        margin: 0;
        margin-top: -100px;
    }

    .left1{
        width: 100%;
        margin: 0;
        margin-top: -100px;
    }

    .right-side{
        left: 0;
    }
    .left-side{
        right: 0;
    }
}

@media (max-width: 991px)
{
    /* body {
        overflow: hidden;   
    } */
    /* Responsive Navigation Menu */
    .responsive-menu{
        visibility: hidden;
    }

    .logo{
        margin-top: -18px;
    }

    #navbar{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content:center;
        align-items:center;
        background: #fff;
        /*  */
    }

    #navbar.active{
        height: calc(100vh - 60px);
        /* height: 657.51px; */
        bottom: 0;
        width: 100%;
        color: #111;

    }

    header.active.toggle.logo{
        color: #111;
    }

    header.active{
        transition: 0.8s;
        background-color: #3082b7  
    }

    #navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navbar ul li a{
        color: #fff;
        background: #35699b;
        background: #3082b7;
        margin-bottom: 5px; 
        width: 159px;
        text-align: center;
    }

    /* Slider Responsive */
    header {
        padding: 20px 40px;
    }

    .slider .imgBx{
        padding: 40px;
    }

    .slider .imgBx .content h2{
        font-size: 3em;
    }

    .slider .imgBx .content p{
        font-size: 1em;
        color: #fff;
        margin-top: 10px;
    }

}

@media (max-width: 950px){
    footer{
        padding: 40px;
    }

    footer .footerContainer {
        flex-direction: column;
        margin-top: -79px;
    }

    footer .footerContainer .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footerContainer .sec.aboutUsFooter{
        width: 100%;
    }

    footer .footerContainer .sec.aboutUsFooter, .quickLinks .contactFooter{ 
        width: 100%;
    }

     .copyRightText{
        padding: 8px 40px;
     }
}

@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media (max-width: 873px){
    .container{
        padding: 28px;
    }
}

@media (max-width: 768px){
    .container{
        padding: 55px;
    }
}

@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}

@media (max-width: 516px) {
    .logo{
        font-size: 24px;
    }
}

@media (max-width: 414px){
    .logo{
        font-size: 19px;
        margin-left: -30px;
    }
}
